In [1]:
import requests
import pandas as pd

In [2]:
# get function has only to give url

# get fetch json from url and give response 200

data = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=3d5ce23128f87940885e0b4d793e8589&language=en-US&page=1')

In [3]:
# fetching data in json, we can also use text, xml, html etc.
response = data.json()

In [4]:
# sample example of fetching data from this json and we extract title from this
for i in response['results']:
    print(i['title'], i['vote_average'])

Fast X 7.3
John Wick: Chapter 4 7.9
Extraction 2 7.9
The Super Mario Bros. Movie 7.8
Spider-Man: Across the Spider-Verse 8.7
Transformers: Rise of the Beasts 7.3
Hypnotic 6.4
The Flash 6.8
Flamin' Hot 8.2
Ambush 6.1
Avatar: The Way of Water 7.7
Guardians of the Galaxy Vol. 3 8.1
The Black Demon 6.3
The Little Mermaid 6.2
My Fault 8.4
Guy Ritchie's The Covenant 7.6
Evil Dead Rise 7.1
Black Clover: Sword of the Wizard King 8.8
Ant-Man and the Wasp: Quantumania 6.5
Sisu 7.4

In [5]:

#opularity = []
#vote_count = []
#vote_average=[]
#original_language = []
#title = []
#release_date = []
#overview = []


# populating these list to later we make dictionary and then change that dictionary into dataframe
# we have fetched data for only one page, we have to fetch data from that 2000 pages

#for i in response['results']:
    #popularity.append(i['popularity'])
    #vote_count.append(i['vote_count'])
    #vote_average.append(i['vote_average'])
    #original_language.append(i['original_language'])
    #title.append(i['title'])
    #release_date.append(i['release_date'])
    #overview.append(i['overview'])
    
#dict = {'title':title, 'overview':overview, 'original_language':original_language, 'release_date':release_date, 'popularity':popularity, 'vote_count':vote_count, 'vote_average':vote_average}
#df = pd.DataFrame(dict)
#df

In [6]:
final_Data = pd.DataFrame()
for j in range(1,501):
    response1 = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=3d5ce23128f87940885e0b4d793e8589&language=en-US&page={}'.format(j)).json()
    
    popularity = []
    vote_count = []
    vote_average=[]
    original_language = []
    title = []
    release_date = []
    overview = []


    # populating these list to later we make dictionary and then change that dictionary into dataframe
    # we have fetched data for only one page, we have to fetch data from that 2000 pages

    for i in response1['results']:
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        vote_average.append(i['vote_average'])
        original_language.append(i['original_language'])
        title.append(i['title'])
        try:
            release_date.append(i['release_date'])
        except KeyError:
            release_date.append('NaN')
        overview.append(i['overview'])

    dict = {'title':title, 'overview':overview, 'original_language':original_language, 'release_date':release_date, 'popularity':popularity, 'vote_count':vote_count, 'vote_average':vote_average}
    df = pd.DataFrame(dict)
    final_Data = final_Data.append(df, ignore_index = True)

In [7]:
final_Data

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,Fast X,Over many missions and against impossible odds...,en,2023-05-17,6682.100,1848,7.3
1,John Wick: Chapter 4,"With the price on his head ever increasing, Jo...",en,2023-03-22,2679.151,3156,7.9
2,Extraction 2,Tasked with extracting a family who is at the ...,en,2023-06-16,2314.736,585,7.9
3,The Super Mario Bros. Movie,"While working underground to fix a water main,...",en,2023-04-05,2109.848,4930,7.8
4,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",en,2023-05-31,2096.335,1557,8.7
...,...,...,...,...,...,...,...
9995,Two Moon Junction,A young Southern débutante temporarily abandon...,en,1988-04-29,12.660,154,6.1
9996,A Girl Walks Home Alone at Night,"In the Iranian ghost-town Bad City, a place th...",en,2014-11-21,12.659,750,6.8
9997,Hatchet,When a group of tourists on a New Orleans haun...,en,2006-04-27,12.659,562,5.8
9998,The Umbrellas of Cherbourg,This simple romantic tragedy begins in 1957. G...,fr,1964-02-19,12.658,641,7.4
9999,A Little Thing Called Love,Keen to win the affections of her popular crus...,th,2010-08-12,12.657,96,7.8

In [10]:
final_Data['release_date'] = pd.to_datetime(final_Data['release_date'])

In [11]:
final_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              10000 non-null  object
 1   overview           10000 non-null  object
 2   original_language  10000 non-null  object
 3   release_date       9981 non-null   datetime64[ns]
 4   popularity         10000 non-null  float64
 5   vote_count         10000 non-null  int64
 6   vote_average       10000 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 547.0+ KB

In [14]:
final_Data.isnull().sum()

title                 0
overview              0
original_language     0
release_date         19
popularity            0
vote_count            0
vote_average          0
dtype: int64

In [16]:
final_Data.dropna(inplace = True)
final_Data.isnull().sum()

title                0
overview             0
original_language    0
release_date         0
popularity           0
vote_count           0
vote_average         0
dtype: int64

In [17]:
# exporting this dataframe to CSV
final_Data.to_csv('Most popular Movies on tmdb.csv')